page-forgot-password {
    .scroll-content {
        background:url("../assets/imgs/background_img.jpg") ;
        background-size: 100% 100%;
        margin-top: 58px;
        padding-top: 58px;
      }
      .card_io{
        opacity: 0.8;
        filter: alpha(opacity=50);
        background-color: #800020;
        box-shadow: 4px 4px 4px 4px;
      }
      .button-round {
        background: #efba00;
        text-transform: none;
        font-size: 1.5rem;
        font-weight: 200;
        font-family: Arial, Helvetica, sans-serif;
    }
    .scroll-content {
        background:url("../assets/imgs/con_img.jpg") ;
        background-size: 100% 100%;
        margin-top: 58px;
        padding-top: 58px;
      }
      .card_io{
        opacity: 0.8;
        filter: alpha(opacity=50);
        background-color: #800020;
        box-shadow: 4px 4px 4px 4px;
      }
      
      .swiper-pagination-bullet-active{
        background: #EFBA00;
    }
    form, optgroup, select{
        text-align: center;
    }
    form{
        background: #8b3532;
    }
    .item-md.item-block .item-inner{
        border-color: #efba00;
    }
    .item{
        background: #55081f;
        color: #efba00;
        border-bottom: 1px solid;
    }
    .label, .select .select-icon .select-icon-inner,.picker .picker-button{
        color:#efba00 !important;
    }
    .button-round{
        background: #efba00;
        text-transform: none;
        font-size: 1.8rem;
        font-weight: 800;
    }
    .button-round-md {
        border-radius: 64px;
    }
    .item{
        padding-left: 0;
    }
    .datetime .datetime-placeholder,.select .select-placeholder{
        color: #efba00;
    }
    ion-select{
        width: 100%;
        max-width: 100% !important;
    }
    .img1 {
        max-width: 72%;
        border: 0;
        /* padding-left: 20%; */
    }
    .img2{
        border-radius: 50%;
        max-width:72%;
        padding-left:30%;
    }
    .text-input::-moz-placeholder {
        color: #efba00;
      }
      
      .text-input:-ms-input-placeholder {
        color: #efba00;
      }
      
      .text-input::-webkit-input-placeholder {
        text-indent: 0;
        color:  #efba00;
      }
    }